:root {
    --primary-color: #354F52;
    --accent-color: #2F3E46;
    --tertiary-color: #e5eee0;
}

body {
    margin: 0;
    font-family: "Montserrat", serif;
    background-color: var(--tertiary-color);
}

.header {
    font-family: "Baloo 2", sans-serif;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.header h1 {
    margin: 0;
    text-shadow: 5px 5px 1px var(--accent-color);
}

.header i {
    position: absolute;
    left: 4vw;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #13191d;
}

.main {
    display: flex;
    height: 90vh;
}

.sidebar {
    font-family: "Baloo 2", sans-serif;
    background-color: var(--accent-color);
    width: 12vw;
    height: 100%;
    display: none;
}

.recipe {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
}

.sidebar h1{
    margin: 0;
    padding-top: 20px;
    color: var(--tertiary-color);
    text-align: center;
}

.card-container {
    width: 100%;
    margin: 30px 75px 0 ;
    display: flex;
    justify-content: start;
    gap: 6px;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: 300px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    color: #1d1d1d;
}

.card h1 {
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px 0;
    color: var(--tertiary-color);
    text-align: center;

}

.card h2, 
.card p{
    margin: 12px 15px;
}


@media (max-width: 1000px) {
    .header h1 {
        font-size: 7rem;
        text-shadow: 10px 10px 1px var(--accent-color);
    }

    .header i {
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card h1 {
        font-size: 4.85rem;
    }

    .card  h2 {
        font-size: 4rem;
    }

    .card p {
        font-size: 2.5rem;
    }

    .card-container {
        height: 4500px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card {
        margin: 10px auto;
        width: 100%;
        height: 600px;
    }

    .sidebar {
        position: fixed;
        width: 70vw;
    }

    .sidebar h1 {
        font-size: 7rem;
    }

    .sidebar h3 {
        font-size: 4rem;
    }
}